<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <style>
        body {
            background-color: rgb(101, 46, 175);
        }

        .navbar {
            background-color: rgb(238, 177, 69);
        }
    </style>

</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg d-flex justify-content-between">
            <div>
                <a href="/"><img style="height: 50px" src="./static/images/logo.png" alt="logo"></a>
            </div>
            <div>
                <button style="background-color: rgb(101, 46, 175)"><a style="color:rgb(238, 177, 69)"
                        href="/users/create">Sign Up</a></button>
                <button class="mx-3" style="background-color: rgb(101, 46, 175)"><a style="color:rgb(238, 177, 69)"
                        href="/users/create">Login</a></button>
            </div>
        </nav>
        <div class="text-center my-3"><img class="img-fluid" src="/static/images/1me.png" alt="photo"></div>
        <div class="card my-3" style="background-color: rgb(238, 177, 69); ">
            <img style="width: 500px" class="rounded" src="./static/images/name.png" alt="name">
            <div class="card-body">
                <h3>About Me</h3>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias velit quas
                    repellendus sit fugiat unde aspernatur consectetur quos! Maiores beatae rem qui doloremque totam
                    iste, laborum dicta dignissimos explicabo illum.</p>
            </div>
        </div>
        <div class="text-center my-3"><img src=".\static\videos\funny-cat-gifs-181-09.gif"></div>
        <div class="d-flex justify-content-around" style="background-color: rgb(238, 177, 69); ">
            <a href="https://www.instagram.com/b4ckp4ckg/"><i class="bi bi-instagram fs-1"></i></a>
            <a href="https://twitter.com/B4ckP4ckG"><i class="bi bi-twitter fs-1"></i></a>
            <a href="https://www.twitch.tv/b4ckp4ckg"><i class="bi bi-twitch fs-1"></i></a>
            <a href="https://www.youtube.com/channel/UCIwiNDmN-YqK7TV1WyAHsug/featured"><i
                    class="bi bi-youtube fs-1"></i></a>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>