{% extends '/shared/base.html' %}

{% block content%}

<div class="text-center my-5"><img class="img-fluid" src="/static/images/1me.png" alt="photo"></div>
<div class="card my-5" style="background-color: rgb(238, 177, 69); ">
    <img style="width: 500px" class="rounded" src="/static/images/name.png" alt="name">
    <div class="card-body ">
        <h3>About Me</h3>
        <p class="card-text ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias velit quas
            repellendus sit fugiat unde aspernatur consectetur quos! Maiores beatae rem qui doloremque totam
            iste, laborum dicta dignissimos explicabo illum.</p>
    </div>
</div>
<div class="text-center my-5"><img src="\static\videos\funny-cat-gifs-181-09.gif"></div>


{% endblock content%}